
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div *ngIf="customer" class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div  class="profile-userpic">
 
 
					<img *ngIf="customer" src="{{customer.cusUrl}}" class="img-responsive" alt="">
 
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle"> 
					<div class="profile-usertitle-name">
                        <h3>{{customer.firstName}} {{customer.lastName}}</h3>
					</div>
					<div>
                        <p> Phone:	{{customer.phone}}  </p>
                        <p> Email: {{customer.email}} </p>
					</div>
				</div>
                 
			</div>
		</div>
	</div>
</div> 

    <div class="container">

        <button class="btn btn-block btn-outline-info table-btn">Add Pet</button>

    </div>

<div class="container">
    <table class="table table-striped pet-table">

        <thead class="thead-dark"> 
            <tr> 
            <th scope="col">Animal Name</th>
            <th scope="col">Animal Type</th>
            <th scope="col">Weight</th>
            <th scope="col">Age</th>
            <th scope="col">Records</th> 
            <th scope="col">View Pet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of petList" class="clickable-row" routerLink="register/">
            <th scope="row">{{ pet.petName }}</th>
            <td>{{ pet.type }}</td>
            <td>{{ pet.weight }} lbs</td>
            <td>{{ pet.birthDate }} years</td> 
           <td><button class="btn btn-info table-btn">View Records</button> </td>
           <td><button class="btn btn-info table-btn">View Pet</button> </td>

          </tr>
        </tbody>
      </table>
</div>
 