<div class="container">
    <h2>
        Welcome Dr. Acula
    </h2>
</div>
<div class="container">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="coL">Animal Name</th>
            <th scope="coL">Owner</th>
             <th scope="coL">Appointment</th>
             <th scope="coL">Dog Info</th>
             <th scope="coL">Appt Info</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Sparky</th>
            <td>Sindy</td>
            <td>1/15/19 - 8:30am</td>
            <td><button class="btn btn-info table-btn">See Profile</button></td>
                <td> <button class="btn btn-info table-btn">View Appt</button></td>
          </tr>
          <tr>
            <th scope="row">Butkuss</th>
            <td>Mike</td>
            <td>1/15/19 - 9:00am</td>
            <td><button class="btn btn-info table-btn">See Profile</button></td>
            <td><button class="btn btn-info table-btn">View Appt</button></td>
          </tr>
          <tr>
            <th scope="row">Fluffy</th>
            <td>Taquesha</td>
            <td>1/15/19 - 9:30am</td>
            <td><button class="btn btn-info table-btn">See Profile</button></td>
            <td><button class="btn btn-info table-btn">View Appt</button></td>
          </tr>
        </tbody>
      </table>        
    </div>
