<div fxLayout="row">
    <div fxFlex="20"></div>
    <div fxFlex="30">
        <h2>Appointment Info:</h2>

        <!-- <p>Date: {{appointment.a_date}}</p>
        <p>Type: {{pet.p_type}}</p>
        <p>Breed: {{pet.p_breed}}</p>
        <p>Weight: {{pet.weight}}</p>
        <p>DOB: {{pet.dob}}</p>
        <p>{{appointment.a_description}}</p> -->
    </div>
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly center">
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="primary">Primary</button>
    </div>
</div>