<div class="container">
    <h3>Create a New Appointment</h3>
    <div class="form-group">
        <label for="selectClient">Select a Client</label>
        <select class="form-control" id="selectClient">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="selectPet">Select a Pet</label>
        <select class="form-control" id="selectPet">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dateSelect">Appointment Date</label>
        <input type="date" class="form-control" id="dateSelect">
    </div>
    <div class="form-group">
        <label for="selectPet">Select a Time</label>
        <select class="form-control" id="selectPet">
          <option value="9">9 AM</option>
          <option value="10">10 AM</option>
          <option value="11">11 AM</option>
          <option value="1">1 PM</option>
          <option value="2">2 PM</option>
          <option value="3">3 PM</option>
          <option value="4">4 PM</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" (click) = "addAppointment()">SUBMIT (addAppointment test)</button>
    <button type="button" class="btn btn-outline-primary" (click) = "updateAppointment()">updateAppointment test</button>
    <button type="button" class="btn btn-outline-primary" (click) = "getAllAppointments()">getAllAppointments test</button>
</div>