<div fxLayout="column" fxLayoutAlign="space-evenly center">
    <form class="example-form child-1">
        <mat-form-field>
            <mat-label>Select a Client</mat-label>
            <mat-select>
              <mat-option>Option 1</mat-option>
              <mat-option>Option 2</mat-option>
            </mat-select>
            <!-- <select matNativeControl>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select> -->
          </mat-form-field>
    </form>
</div>