<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <h3>Create a New Appointment</h3>
  <mat-form-field class="formField">
    <mat-label>Select a Client</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="formField">
    <mat-label>Select a Pet</mat-label>
    <mat-select>
      <mat-option value="pet1">Pet 1</mat-option>
      <mat-option value="pet2">Pet 2</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="formField">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>  
  <mat-form-field class="formField">
    <mat-label>Select a time</mat-label>
    <mat-select>
      <mat-option value="9">9 AM</mat-option>
      <mat-option value="10">10 AM</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="formField">
    <textarea matInput placeholder="Add a description"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary">CREATE</button>
</div>