<!-- [{"id":2,"cId":1,"petName":"Whiskers","birthDate":"2017-08-01 00:00:00.0","weight":69,"type":2,"breed":"English Bdog","description":null}] -->


<!-- <form [formGroup]="aniService.form" (submit)="onSubmit()" class="normal-form child-1"> -->
<!-- <form [formGroup]="animalCreateForm" class="normal-form child-1"> -->
<form #petForm="ngForm" (ngSubmit)="savePet()">
  <div class="panel panel-primary" *ngIf="pet">
    <div class="panel-heading">
      <h3 class="panel-title">{{panelTitle}}</h3>
    </div>
    <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" type="text" name="name" formControlName="petName">
        </mat-form-field> -->
    <div class="panel-body">
      <!-- <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Pet Name">
    </div> -->
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="petName" class="control-label">Pet Name<span class="required"> *</span></label>
        <input id="petName" required name="petName" [(ngModel)]="pet.petName" type="text" class="form-control" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched"> Pet Name is required
        </span>
      </div>
      <!-- <mat-form-field class="example-full-width">
            <mat-label>Breed</mat-label>
            <input matInput placeholder="Breed" formControlName="breed">
        </mat-form-field>
        <br />
-->
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="breed" class="control-label">Breed<span class="required"> *</span></label>
        <input id="breed" name="breed" [(ngModel)]="pet.breed" type="text" class="form-control" #name="ngModel">
         <span class="help-block" *ngIf="name.invalid && name.touched"> Breed is required
        </span>
      </div>
      <!--
        <mat-form-field class="example-full-width">
            <mat-label>Weight</mat-label>
            <input matInput type="number" min="0" placeholder="Weight" formControlName="weight">
        </mat-form-field>
        <br />
-->
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="weight" class="control-label">Weight<span class="required"> *</span></label>
        <input id="weight" name="weight" [(ngModel)]="pet.weight" type="number" min="0" class="form-control" #name="ngModel">
         <span class="help-block" *ngIf="name.invalid && name.touched"> Weight is required
        </span>
      </div>
      <!--
        <mat-form-field class="example-full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="number" min="0" placeholder="Date of Birth" formControlName="birthDate">
        </mat-form-field>
        <br />
-->
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="birthDate" class="control-label">Pet Birthday<span class="required"> *</span></label>
        <input id="birthDate" name="birthDate" [(ngModel)]="pet.birthDate" type="text" class="form-control" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched"> DOB is required
        </span>
      </div>

      <!-- <form class="form-inline"> --> 
 <app-date-picker></app-date-picker>
<!-- </form> -->
 
      <!--
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput type="number" min="0" placeholder="Description" formControlName="description">
        </mat-form-field>
        <br /> -->
 <div class="form-group">
    <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="pet.description"  rows="3"></textarea>
          <span class="help-block" *ngIf="name.invalid && name.touched"> DOB is required
        </span>
  </div>
      </div>

      
        <!-- <mat-label>Type</mat-label>
            <mat-select>
                 <ng-container *ngFor="let t of type.array"> 
                    <mat-option value="{{t.$key}}">{{t.code}}-{{t.type}}</mat-option>
                <mat-option value="1">Dog</mat-option>
                <mat-option value="2">Cat</mat-option>
                <mat-option value="3">Parrot</mat-option>
                <mat-option value="4">Ferret</mat-option>
                <mat-option value="5">Other</mat-option> 
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br /> -->
<div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
   
     
      <button type="submit"  class="btn btn-primary"  > SUBMIT </button>
      <!-- <button (click)="submitToConsole()" mat-raised-button>SUBMIT (toConsole)</button> -->
    </div>
  </div>
</form>



<div class="row">
  <div class="scroll-window col col-xs-6">
    <h6>PETS:<br /> http://localhost:8080/pets</h6>

    <ul *ngFor="let pet of petsList">
      <hr>
      <img class="imageClass"  alt="pet.petUrl" width="100" [src]="pet.petUrl" /> 
           <li><strong>pet.id: </strong> {{pet.id}}</li>
           <li><strong>pet.cId: </strong> {{pet.cId}}</li>
           <li><strong>pet.petName: </strong> {{pet.petName}}</li>
           <li><strong>pet.birthDate: </strong> {{pet.birthDate}}</li>
           <li><strong>pet.weight: </strong> {{pet.weight}}</li>
           <li><strong>pet.type: </strong> {{pet.type}}</li>
           <li><strong>pet.neuter: </strong> {{pet.neuter}}</li>
           <li><strong>pet.breed: </strong> {{pet.breed}}</li>
           <li><strong>pet.description: </strong> {{pet.description}}</li>
    </ul>
  </div>
  <div class="scroll-window col col-xs-6">
    <h6>CUSTOMERS: <br />http://localhost:8080/customers</h6>
 
    <ul *ngFor="let cust of customersList">
      <img class="imageClass"  alt="pet.petUrl" width="100" [src]="cust.cusUrl" />  
            <li><strong>cust.id:</strong>  {{cust.id}}</li>
            <li><strong>cust.firstName: </strong> {{cust.firstName}}</li>
            <li><strong>cust.lastName: </strong> {{cust.lastName}}</li>
            <li><strong>cust.phone: </strong> {{cust.phone}}</li>
            <li><strong>cust.email: </strong> {{cust.email}}</li>
            <li><strong>cust.password: </strong> {{cust.password}}</li>
    </ul>
  </div>
</div>