
<div fxLayout="column" fxLayoutAlign="space-evenly center">
    <form class="example-form child-1">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" value="">
            </mat-form-field>
        </form>
    <form class="example-form child-1">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name">
            </mat-form-field>
        </form>
    <form class="example-form child-1">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
            </mat-form-field>
        </form>
    <form class="example-form child-1">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone">
            </mat-form-field>
        </form>
    <form class="example-form child-1">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
            </mat-form-field>
        </form>
        <button button="submit" mat-raised-button color="primary">SUBMIT</button>
    </div>
    
