<div class="container">
    
</div>

<h2>Vaccinations</h2>

<div class="container">
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Date Received</th>     
        <th scope="col">Expiration</th>     
        <th scope="col">Download <-what dat means?</th>     
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Rabies</th>
        <td>1-15-19</td>     
        <td>previous column + vaccination.duration</td>     
        <td> <button class="btn btn-info table-btn">Download/View</button></td>     
      </tr>
      <tr>
        <th scope="row">Bordatella</th>
        <td>9-3-19</td>
        <td>1-15-20</td>
        <td> <button class="btn btn-info table-btn">Download/View</button></td>
      </tr>
      <tr>
        <th scope="row">Measels</th>
        <td>5-11-19</td>
        <td>1-15-20</td>
        <td> <button class="btn btn-info table-btn">Download/View</button></td>
      </tr>
    </tbody>
  </table>
</div>
