<div class="container">
  <div style="float: left;">
  <img src="https://doggywood-veterinary.s3.amazonaws.com/assets/Animals/random_a3.jpg" alt="" style="width:300px;height:auto;">
</div >
  <h5 style=" margin-left: 30px;">Upload new File:</h5> 
  <input type="text" value="Type" style="margin-bottom: 10px; margin-left: 30px;"> <br>
  <input type="text" value="Date Received" style="margin-bottom: 10px; margin-left: 30px;"> <br>
  <input type="text" value="Expiration Date" style="margin-bottom: 10px; margin-left: 30px;"> <br>
  <button class="btn btn-outline-info" style=" margin-left: 30px;">Upload File</button>
</div>


<div class="container">
    
</div>

<h2>Vaccinations</h2>

<div class="container">
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Date Received</th>     
        <th scope="col">Expiration</th>     
           
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Rabies</th>
        <td>1-15-19</td>     
        <td>previous column + vaccination.duration</td>     
          
      </tr>
      <tr>
        <th scope="row">Bordatella</th>
        <td>9-3-19</td>
        <td>1-15-20</td>
       
      </tr>
      <tr>
        <th scope="row">Measels</th>
        <td>5-11-19</td>
        <td>1-15-20</td>
       
      </tr>
    </tbody>
  </table>
</div>
