<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar routerLink=""><img width="110" class="logo" alt="Angular Logo" src="./assets/logo1.png"></mat-toolbar>  
    <br />
    <br />
    
    <mat-nav-list>
      <a mat-list-item routerLink="pets/" >Accounts</a>
      <a mat-list-item routerLink="admin/">Employees</a>
      <a mat-list-item routerLink="clients/">Clients</a>

      <a mat-list-item routerLink="animalCreate/">animalCreate</a>
      <!-- <a mat-list-item routerLink="appt/:apptId">appt/:apptId</a> -->
      <a mat-list-item routerLink="apptCreate/">apptCreate</a> 
      <!-- <a mat-list-item routerLink="cliAnimalProfile/:animalId">cliAnimalProfile/:animalId</a>
      <a mat-list-item routerLink="cliPetRecord/:animalId" >cliPetRecord/:animalId</a> -->

      <a mat-list-item routerLink="createClient/">createClient</a>
      <a mat-list-item routerLink="cliLanding/" >cliLanding</a>
      <a mat-list-item routerLink="recLanding/">recLanding</a>
      <a mat-list-item routerLink="recLogin/">recLogin</a>

      <a mat-list-item routerLink="vetLanding/">vetLanding</a>
      <a mat-list-item routerLink="vetLogin/">vetLogin</a>
      <!-- <a mat-list-item routerLink="vetAnimalProfile/:animalId">vetAnimalProfile/:animalId</a>
      <a mat-list-item routerLink="vetClientProfile/:clientId" >vetClientProfile/:clientId</a>
      <a mat-list-item routerLink="vetPetRecord/:animalId" >vetClientProfile/:animalId</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> 
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
