<div class="container" fxLayout="row" fxLayout.xs-="column" fxLayoutGap="0.5" fxLayoutAlign="center">
        <div fxFlex="20%">2</div>
        <div
        class="container"
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxFlex="20%"
        fxLayoutGap.xs="0" >
      
        <div class="item" fxFlex="100%">
          <div style="padding:5px">
            <div fxLayoutAlign="center">
              <img
                width="340"
                height="340"
                src="./assets/People/random_p3.jpg" />
            </div>
            <!-- <div fxLayoutAlign="center">
              Judith    
            </div>
            <div fxLayoutAlign="center">
              Pallly
            </div> -->
          </div>
        </div>
      </div>
        <div fxFlex="20%">
            <h1>Judith Paltrow</h1>
            <h2>Email: Judith.paaltorw@gmail.com</h2>
            <h2>Phone: 555-555-5555</h2>
        </div>
        <div fxFlex="20%"></div>
        <div fxFlex="20%"></div>
    </div>