<div class="container">

    <form (ngSubmit)="handleLogin()"
        [ngStyle]="{'background':this.admin === false ? '' : 'rgba(144, 184, 219, 0.156)' }">
        <div class="panel panel-primary">
            <br />
            <div class="panel-heading">
                <h5 class="panel-title">{{panelTitle}}</h5>
            </div>
            <hr>
            <div class="panel-body">
                <div class="form-group  ">
                    <label for="email" class="control-label">Email </label>
                    <input id="email" name="email" [(ngModel)]="email" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password </label>
                    <input id="password" name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="alert alert-warning" *ngIf="errorMessage !=''">{{errorMessage}}</div>


                <pre class="pull-right"><em>{{message}}</em></pre>
            </div>


            <button type="submit" id="submit-button" class="btn btn-primary login">&nbsp;&nbsp;SUBMIT&nbsp; </button>
            <br />
            <hr>
            <br />
        <span (click)="adminButton()" class="links admin-login"
            *ngIf="!authenticationService.isCustLoggedIn() && !authenticationService.isEmpLoggedIn()">
            <pre><em>{{adminLogin}}</em></pre> </span>
        </div>

    </form>
</div>
