<div class="container">

    <form (ngSubmit)="handleLogin()" [ngStyle]="{'background':this.admin === false ? '' : 'rgba(144, 184, 219, 0.156)' }">
        <div class="panel panel-primary" >
            <hr>
            <div class="panel-heading">
                <h4>{{panelTitle}}</h4> 
            </div>
            <hr>
            <div class="panel-body">
                <div class="form-group  ">
                    <label for="email" class="control-label">Email </label>
                    <input id="email" name="email" [(ngModel)]="email" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password </label>
                    <input id="password" name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="alert alert-warning" *ngIf="errorMessage !=''">{{errorMessage}}</div>

                <span (click)="adminButton()" class="links admin-login"
                    *ngIf="!authenticationService.isCustLoggedIn() && !authenticationService.isEmpLoggedIn()">
                    <pre><em>Administration Login</em></pre> </span>
                <pre class="pull-right"><em>{{message}}</em></pre>
            </div>


            <br />
            <button type="submit" class="btn btn-primary ">&nbsp;&nbsp;SUBMIT&nbsp; </button>
            <br />




        </div>
    </form>
</div>