<p>vet-pet-profile works!</p>

<div class="row">

<div class=" scroll-window"> 
    <h6>PETS:<br /> http://localhost:8080/pets</h6>

    <ul *ngFor="let pet of petsList">
      <hr>
      <img class="imageClass"  alt="pet.petUrl" width="100" [src]="pet.petUrl" /> 
           <li><strong>pet.id: </strong> {{pet.id}}</li>
           <li><strong>pet.cId: </strong> {{pet.cId}}</li>
           <li><strong>pet.petName: </strong> {{pet.petName}}</li>
           <li><strong>pet.birthDate: </strong> {{pet.birthDate}}</li>
           <li><strong>pet.weight: </strong> {{pet.weight}}</li>
           <li><strong>pet.type: </strong> {{pet.type}}</li>
           <li><strong>pet.neuter: </strong> {{pet.neuter}}</li>
           <li><strong>pet.breed: </strong> {{pet.breed}}</li>
           <li><strong>pet.description: </strong> {{pet.description}}</li>
    </ul>
    </div>
     
</div>

<h2> ^ so this is gonna be what they select from or whats this for</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Appt Date</th>
      <th scope="col">Notes</th>     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">12-8-18</th>
      <td>Had mange. Gave him Mange-Be-Gone</td>     
    </tr>
    <tr>
      <th scope="row">9-6-18</th>
      <td>Bloodwork showed he has obesity. New diet is celery</td>
    </tr>
  </tbody>
</table>

