<div class="container">
  <div style="float: left;">
  <img src="https://doggywood-veterinary.s3.amazonaws.com/assets/Animals/random_a3.jpg" alt="" style="width:300px;height:auto;">
</div>

<h6>Type:</h6>
<h6>Breed:</h6>
<h6>Age:</h6>
<h6>Weight:</h6>

</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr style="text-align:center">
      <th scope="col">Appt Date</th>
      <th scope="col">Notes</th>     
      <th scope="col">Appt Date</th>
      <th scope="col">Notes</th>
      <th scope="col">Notes</th>
           
    </tr>
  </thead>
  <tbody>
    <ng-container>         
      <tr *ngFor="let n of noteList"  style="text-align:center"> 
       <td>date here maybe</td>
       <td>{{n.n_message}}</td>
       <td>{{n.n_id}}</td>
       <td>{{n.a_id}}</td>
       <td>{{n.p_id}}</td>
      </tr>
     </ng-container> 
  </tbody>
</table>

